version: '3.8'

services:
  wazuh.indexer:
    image: wazuh/wazuh-indexer:4.7.2
    container_name: wazuh.indexer
    hostname: wazuh.indexer
    restart: always
    ports:
      - "9200:9200"
    environment:
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - wazuh-indexer-data:/var/lib/wazuh-indexer
    networks:
      - wazuh-network

  wazuh.manager:
    image: wazuh/wazuh-manager:4.7.2
    container_name: wazuh.manager
    hostname: wazuh.manager
    restart: always
    ports:
      - "1514:1514"
      - "1515:1515"
      - "55000:55000"
    environment:
      - INDEXER_URL=https://wazuh.indexer:9200
      - INDEXER_USERNAME=admin
      - INDEXER_PASSWORD=admin
    depends_on:
      - wazuh.indexer
    volumes:
      - wazuh-manager-data:/var/ossec/data
      - ./wazuh/ossec.conf:/var/ossec/etc/ossec.conf
      - wazuh-manager-logs:/var/ossec/logs
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - wazuh-network

  wazuh.dashboard:
    image: wazuh/wazuh-dashboard:4.7.2
    container_name: wazuh.dashboard
    hostname: wazuh.dashboard
    restart: always
    ports:
      - "4443:5601"
    environment:
      - INDEXER_URL=https://wazuh.indexer:9200
      - WAZUH_API_URL=https://wazuh.manager:55000
    depends_on:
      - wazuh.indexer
      - wazuh.manager
    volumes:
      - wazuh-dashboard-config:/usr/share/wazuh-dashboard/data
    networks:
      - wazuh-network

volumes:
  wazuh-indexer-data:
  wazuh-manager-data:
  wazuh-manager-etc:
  wazuh-manager-logs:
  wazuh-dashboard-config:

networks:
  wazuh-network:
    driver: bridge
